<a href="https://colab.research.google.com/github/zal-developer/Production-of-Product-Sales./blob/main/Prediction_of_Product_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prediction of Product Sales

- Author:Zalwango Diana

## Project Overview

## Load and Inspect Data

In [2]:
#Loading the data
import pandas as pd
#copy file path
fpath='/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/sales_predictions_2023.csv'
df=pd.read_csv(fpath)

In [3]:
#preview a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
#preview the first rows of the dataframe
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## Clean Data

1. Number of rows and columns

In [5]:
#number of rows
len(df)

8523

In [6]:
#number of columns
len(df.columns)

12

2. Checking datatypes

In [7]:
#checking datatypes of variables
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

3. Finding and removing duplicates

In [8]:
#check for duplicates
duplicated_rows=df.duplicated()
duplicated_rows

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [9]:
#counting duplicate rows
df.duplicated().sum()

0

In [10]:
#checking duplicate rows shown
df[duplicated_rows]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [11]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

4. Identify missing values

In [12]:
#Identifying missing values
df.isna()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
#counting the missing values
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

5. placeholder

In [14]:
#addressing missing value by placeholder
df = df.fillna('MISSING')

6. Confirm no missing values

In [15]:
#confirm that the missing values are gone
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7. Inconsistent categories of data

In [16]:
#Identifying string columns
string_cols=df.select_dtypes('object').columns
string_cols

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Type',
       'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [17]:
#obtain value counts for all string columns
for col in string_cols:
  print(f'value_counts for {col}')
  print(df[col].value_counts())
  print('\n')

value_counts for Item_Identifier
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64


value_counts for Item_Weight
MISSING    1463
12.15        86
17.6         82
13.65        77
11.8         76
           ...
7.275         2
7.685         1
9.42          1
6.52          1
5.4           1
Name: Item_Weight, Length: 416, dtype: int64


value_counts for Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64


value_counts for Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64


value_counts for Outlet_Identifier
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64


value_counts for Outlet_Size
Medium     2793
MISSING    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64


value_counts for Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64


value_counts for Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [18]:
#Fixing the inconsistencies
import pandas as pd
df[string_cols]=df[string_cols].astype(object)

In [19]:
print('\n object values after fixing:')
print(df[string_cols])

 object values after fixing:
     Item_Identifier Item_Weight Item_Fat_Content              Item_Type  \
0              FDA15         9.3          Low Fat                  Dairy
1              DRC01        5.92          Regular            Soft Drinks
2              FDN15        17.5          Low Fat                   Meat
3              FDX07        19.2          Regular  Fruits and Vegetables
4              NCD19        8.93          Low Fat              Household
...              ...         ...              ...                    ...
8518           FDF22       6.865          Low Fat            Snack Foods
8519           FDS36        8.38          Regular           Baking Goods
8520           NCJ29        10.6          Low Fat     Health and Hygiene
8521           FDN46        7.21          Regular            Snack Foods
8522           DRG01        14.8          Low Fat            Soft Drinks

     Outlet_Identifier Outlet_Size Outlet_Location_Type        Outlet_Type
0               OUT049      Medium               Tier 1  Supermarket Type1
1               OUT018      Medium               Tier 3  Supermarket Type2
2               OUT049      Medium               Tier 1  Supermarket Type1
3               OUT010     MISSING               Tier 3      Grocery Store
4               OUT013        High               Tier 3  Supermarket Type1
...                ...         ...                  ...                ...
8518            OUT013        High               Tier 3  Supermarket Type1
8519            OUT045     MISSING               Tier 2  Supermarket Type1
8520            OUT035       Small               Tier 2  Supermarket Type1
8521            OUT018      Medium               Tier 3  Supermarket Type2
8522            OUT046       Small               Tier 1  Supermarket Type1

[8523 rows x 8 columns]

8. Summary statistics for numerical columns.

In [20]:
#describing summary statistics of numeric columns
#min
import pandas as pd
numerical_summary=df.describe()
min_values=numerical_summary.loc['min']
print(min_values)

Item_Visibility                 0.00
Item_MRP                       31.29
Outlet_Establishment_Year    1985.00
Item_Outlet_Sales              33.29
Name: min, dtype: float64

In [21]:
#max
max_values = numerical_summary.loc['max']
print(max_values)

Item_Visibility                  0.328391
Item_MRP                       266.888400
Outlet_Establishment_Year     2009.000000
Item_Outlet_Sales            13086.964800
Name: max, dtype: float64

In [22]:
#mean
mean_values = numerical_summary.loc['mean']
print(mean_values)

Item_Visibility                 0.066132
Item_MRP                      140.992782
Outlet_Establishment_Year    1997.831867
Item_Outlet_Sales            2181.288914
Name: mean, dtype: float64

## Exploratory Data Analysis

## Feature Inspection